*{
    font-family: 'Noto Sans HK', sans-serif;
}

.post p{
    font-size: 1.25rem;
    font-weight: 0 !important;
    line-height: 1.7;
}
.post small{
    font-size: 14px !important;
}
.post h3{
    font-size: 2.5rem;
}
.btn{
    margin: 25px 25px !important;
}
