<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <title>iBlog</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

<!-- ------------------------------header section starts--------------------- -->

<section class="header-section">
        <div class="header-text">
            <h3 class="heading">iBlog</h3>
            <p class="tag-line">We are Web Legends</p>
            <div class="header-buttons">
            </div>
        </div>
</section>

<!-- ----------------------------------header section ends-------------------------- -->
   
<!-- ----------------------------------blogpost section ends-------------------------- -->

<section class="blog-posts my-5 text-align-justify">
    <a href="/login-iblog" class="text-decoration-none text-white btn btn-info post-btn text-center">Create Post</a>
    <div class="container my-5 mx-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                {% for post in blog_posts %}
                    <div class="posts">
                        <small><i>-{{post.author}}</i></small>
                        <br>
                        <small><i>-on {{ post.added_date }}</i></small>
                            <h2>{{ post.title }}</h2>
                            <p> {{ post.content|safe|truncatewords:"50"|linebreaks }}</p>
                            <a href="/full-post/{{ post.id }}" class="text-decoration-none text-dark font-weight-bold">read more</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- ----------------------------------blogpost section ends-------------------------- -->



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>